<h2>Todo</h2>
<ul id="todo">
  <% @todo_children.each do |child| %>
    <li><%= child.name %></li>
  <% end %>
</ul>
<%= hidden_field_tag :parent_id, @todo.id %>

<h2>Doing</h2>
<ul id="doing">
  <% @doing_children.each do |child| %>
    <li><%= child.name %></li>
  <% end %>
</ul>
<%= hidden_field_tag :parent_id2, @doing.id %>