    <style>
        li{width:40%;border:1px solid #000000;border-collapse: collapse;background-color:lavender;}
        .ph1{border: dotted 2px blue;}
    </style>

<% @parent.each do |parent| %>
<ul id="sortable_list">
  <p><%= parent.name %></p>
  <% parent.children.each do |child| %>
    <li><%= child.name %></li>
  <% end %>
</ul>
<% end %>

