    <style>
        li{width:40%;border:1px solid #000000;border-collapse: collapse;background-color:lavender;}
        .ph1{border: dotted 2px blue;}
    </style>


<ul id="sortable_list">
  <% @children.each do |child| %>
    <li><%= child.name %></li>
  <% end %>
</ul>
<%= hidden_field_tag :parent_id, @parent.id %>

        <table>
            <tbody id="sortable_list">
            <% @children.each do |child| %>
            <tr><td><%= child.name %></td></tr>
            <% end %>
            </tbody>
        </table>
